.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
  background: #eded;
  position: relative;
}

.floor {
  border-bottom: 1px solid green;
  height: 80px;
  padding: 0;
  position: relative;
}

.outside {
  height:100%;
  width: 50%;
  position: absolute;
  left: 0;
}

.chamber {
  background: #b7b5b5;
  width: 49%;
  height: 100%;
  min-height: 20px;
  border: 1px solid red;
  position: absolute;
  right: 0;
}

.box {
  position: absolute;
  right: 0;
  width: 49%;
  height: 78px;
  background: #f00;
  transition: bottom 2s;
  z-index: 3;
}

h5 {
  margin: 0;
  padding: 13px;
}

button.lighton {background: #f00;
  color: #fff;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.helper {
  border: 1px solid #eee;
  background: #ededed;
  position: absolute;
  right: 0;
  top:0;
  width: 300px;
  height: 100%;
}

.outer-wrapper {
  position: relative;
}